@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// SpoqaHanSansNeo

@mixin sopoqa-12-400 {
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
}

//pretendard
@mixin pretendard-20-400 {
  font-family: "Pretendard-Regular";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
}
