.signOutFrom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.signOutPassword {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.signButton {
  display: flex;
  width: 64rem;
  height: 6.4rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  background: #cbd3e1;
  border: 1px solid #eceff4;

  color: #fff;
  font-family: Pretendard;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.2rem;

  &:hover {
    background: #000; // 활성화된 상태에서의 버튼 색상
  }
}
